<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>Deyton Pierce</title>
	<!-- Favicon -->
	<link href={{info.web_pic}} rel="shortcut icon">
	<!-- CSS -->
	<link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="/static/plugins/magnific-popup/magnific-popup.min.css">
	<link rel="stylesheet" href="/static/plugins/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="/static/css/theme.css">
	<!-- Fonts/Icons -->
	<link rel="stylesheet" href="/static/plugins/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/all.css">
</head>

<body data-preloader="true">

	<!-- Cursor -->
	<div id="cursor"></div>
	<!-- end Cursor -->

	<!-- Header -->
	<div class="header">
		<div class="container-fluid">
			<div class="header-wrapper">
				<!-- Header Logo -->
				<div class="header-logo">
					<h2><a href="/">Deyton Pierce</a></h2>
				</div>
				<!-- Header Nav -->
				<div class="header-nav">
					<a class="button button-sm button-dot me-2 me-lg-3" href="/#contact">
						<span data-text="Let's Talk">Let's Talk</span>
					</a>
					<!-- Nav Menu Toggle -->
					<button id="nav-toggle" class="button button-sm button-dot button-white">
						<span data-text="Menu">Menu</span>
					</button>
					<!-- Nav Menu Box -->
					<div class="nav-box">
						<ul class="nav">
							<li class="nav-item">
								<a class="nav-link" href="/#about"><i class="bi bi-arrow-right"></i>About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#services"><i class="bi bi-arrow-right"></i>Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#portfolio"><i class="bi bi-arrow-right"></i>Portfolio</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#education"><i class="bi bi-arrow-right"></i>Education</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/#contact"><i class="bi bi-arrow-right"></i>Contact</a>
							</li>
						</ul>
					</div>
				</div><!-- end header-nav -->
			</div><!-- end header-wrapper -->
		</div><!-- end container -->
	</div>
	<!-- end Header -->

	<main>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-10 col-lg-8 text-center">
						<h1 class="display-3 fw-medium">404 <span class="text-gradient">Page Not Found</span></h1>
					</div>
			</div><!-- end container -->
		</div>

	<!-- Scroll To Top -->
	<div class="scrolltotop">
		<a class="button-circle" href="#">
			<i class="bi bi-arrow-up"></i>
			<i class="bi bi-arrow-up"></i>
		</a>
	</div>
	<!-- end Scroll To Top -->

	<!-- JavaScripts -->
	<script src="/static/plugins/jquery.min.js"></script>
	<script src="/static/plugins/plugins.js"></script>
	<script src="/static/js/functions.js"></script>
</body>

</html>